<tr>
  <td valign="top" id="templateFooter">
    <!-- BEGIN MODULE: STANDARD FOOTER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td valign="top" id="socialBar">
          <div mc:edit="social_bar">
            <a href="*|TWITTER:PROFILEURL|*" class="utilityLink">Follow on Twitter</a><span class="mobileHide">   |   </span><a href="*|FACEBOOK:PROFILEURL|*" class="utilityLink">Friend on Facebook</a>
            <span class="mobileHide">   |   </span><a href="*|FORWARD|*" class="utilityLink">Forward to a Friend</a>
          </div>
        </td>
      </tr>
      <tr>
        <td valign="top" id="footerContent">
          <div mc:edit="footer_content">
            *|IF:LIST|*
            <em>Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
            <br>
            <!-- *|IFNOT:ARCHIVE_PAGE|* -->*|LIST:DESCRIPTION|*
            <br><strong>Our mailing address is:</strong>
            <br>*|HTML:LIST_ADDRESS_HTML|*
            <br>
            <!-- *|END:IF|* -->*|ELSE:|*
            <!-- *|IFNOT:ARCHIVE_PAGE|* --><em>Copyright © *|CURRENT_YEAR|* *|USER:COMPANY|*, All rights reserved.</em>
            <br><strong>Our mailing address is:</strong>
            <br>*|USER:ADDRESS_HTML|*
            <!-- *|END:IF|* -->*|END:IF|*
          </div>
          <div mc:edit="monkeyrewards">
            *|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
          </div>
        </td>
      </tr>
      <tr>
        <td valign="top" id="utilityBar">
          <div mc:edit="utility_bar">
            <a href="*|UNSUB|*" class="utilityLink">unsubscribe from this list</a><span class="mobileHide"> | </span><a href="*|UPDATE_PROFILE|*" class="utilityLink">update subscription preferences</a>
            <!-- *|IFNOT:ARCHIVE_PAGE|* --><span class="mobileHide"> | </span><a href="*|ARCHIVE|*" class="utilityLink">view email in browser</a>
            <!-- *|END:IF|* -->
          </div>
        </td>
      </tr>
    </table>
    <!-- // BEGIN MODULE: STANDARD FOOTER -->
  </td>
</tr>
