<tr>
  <td valign="top" id="templatePreheader">
    <!-- BEGIN MODULE: STANDARD PREHEADER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td valign="top">
          <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
              <tr>
                <td valign="top" width="384" style="width:384px;">
                  <![endif]-->
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:384px;" width="100%" class="columnContainer">
            <tr>
              <td valign="top">
                <div mc:edit="preheader_leftcol_content">
                  <p>Use this area to offer a short preview of your email's content.</p>
                </div>
              </td>
            </tr>
          </table>
          <!--[if mso]>
          </td>
          <td valign="top" width="180" style="width:180px;">
            <![endif]-->
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:180px;" width="100%" class="columnContainer">
            <tr>
              <td valign="top">
                <div mc:edit="preheader_rightcol_content">
                  <p><a href="*|ARCHIVE|*" target="_blank">View email in your browser</a>
                  </p>
                </div>
              </td>
            </tr>
          </table>
          <!--[if mso]>
        </td>
      </tr>
    </table>
    <![endif]-->
        </td>
      </tr>
    </table>
    <!-- // END MODULE: STANDARD PREHEADER -->
  </td>
</tr>
